
div.main {
    width: 800px;
    margin:100 auto;
    /* background-color: #fb1368; */
    
    display: flex;
 
    
}

div.left{
    width: 55%;
    background-color: #fb1368;
    border-radius:10px 0px 0px 10px;
    padding: 35px 35px;
}
div.contentLeft {
    background-color:aliceblue;
    margin: 40 20 40 0;
    padding: 15px;
    border-radius: 10px;
   
}

div.right {
    background-color: #dd155f;
    width: 45%;
    border-radius:0px 10px 10px 0px;
  
}

div.contentRight {
    background-color:#585858;
    margin: 100 20 40 20;
    padding: 15px;
    border-radius: 10px;
    border:5px solid #dedede;
}

body {
    font-family: 'Press Start 2P', cursive;
  }

